@game_height: 700px;
@game_width: 1024px;

@header_height: 30px;
@header_border_bottom_height: 1px;

@chrome_background: #DDD;

@color_highlight: #753333;
@color_selected: #337533;

body {
    background: #222222
}

.border_radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.slight_shadow(){
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px#888;
    box-shadow: 0 0 3px #888;
}

.text_glow(){
    text-shadow: #13243B 0px 0px 4px;
}

#game_area {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: @game_width / -2;
    margin-top: @game_height / -2;
    height: @game_height;
    width: @game_width;
    border: 3px #444 solid;
    .border_radius();
    overflow: hidden;

    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;



    #header {
        position: absolute;
        top: 0px;
        width: 100%;
        height: @header_height;
        border-bottom: 1px black solid;
        background: @chrome_background;
    }

    #box_placement_area {
        position: absolute;
        top: @header_height + @header_border_bottom_height;
        width: 100%;
        height: @game_height - @header_height;
        padding: 5px 0px;
        background: #EEEEEE;
        border-top: 1px #DDD solid;
    }
}

mustache {
    display: none;
}

.cities {
    position: relative;
    overflow: none;

    .city {
        border: 1px solid black;
        float: left;
        height: 100px;
        padding: 10px;
        margin: 10px;
        width: 110px;
        text-align: center;
        cursor: pointer;

        span {
            color: #FFFFFF;
            .text_glow();
            font-weight: bold;
            position: relative;
            top: -60px;
        }
        
        img {
          padding: 0px;
          margin: 0px;
        }
    }
}

.city_details {
    dt {
        font-weight: bold;
        float: left;
        width: 250px;
        text-align: right;
        padding-right: 10px;
    }
    dl {

    }
}

.clear {
    clear: both;
}

.to_center {
    text-align: center;
}

.ready_button {
    background-color: @color_selected;
    padding: 10px 20px;
    width: 60px;
    display: inline;
    color: #FFF;
    font-size: 1.5em;
    border: 2px #222 solid;
    .slight_shadow();
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: @game_width / 2;
    margin-left: -50px;
    text-align: middle;

}

.list_entry {
    padding: 3px;
    border: 2px #222 solid;
    margin: 4px;
    .slight_shadow();
    cursor: pointer;
    h4 {
        padding: 2px;
        margin: 0px;
    }
}

.selected {
    background-color: @color_selected;
    color: #fff;
    .text_glow();
}