@game_height: 700px;
@game_width: 1024px;

@header_height: 30px;
@header_border_bottom_height: 1px;

@chrome_background: #DDD;

@color_highlight: #753333;
@color_selected: #337533;

body {
    background: #222222
}

.border_radius(@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.drop_shadow(@size: 3px){
    -moz-box-shadow: 0 0 @size #888;
    -webkit-box-shadow: 0 0 @size #888;
    box-shadow: 0 0 @size #888;
}

.text_glow(){
    text-shadow: #13243B 0px 0px 4px;
}

#game_area {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: @game_width / -2;
    margin-top: @game_height / -2;
    height: @game_height;
    width: @game_width;
    border: 3px #444 solid;
    .border_radius();
    overflow: hidden;

    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;



    #header {
        position: absolute;
        top: 0px;
        width: 100%;
        height: @header_height;
        border-bottom: 1px black solid;
        background: @chrome_background;
    }

    #box_placement_area {
        position: absolute;
        top: @header_height + @header_border_bottom_height;
        width: 100%;
        height: @game_height - @header_height;
        padding: 5px 0px;
        background: #EEEEEE;
        border-top: 1px #DDD solid;
    }
}

mustache {
    display: none;
}

.cities {
    position: relative;
    overflow: none;

    .city {
        border: 1px solid black;
        float: left;
        height: 100px;
        padding: 10px;
        margin: 10px;
        width: 110px;
        text-align: center;
        cursor: pointer;

        span {
            color: #FFFFFF;
            .text_glow();
            font-weight: bold;
            position: relative;
            top: -60px;
        }
        
        img {
          padding: 0px;
          margin: 0px;
        }
    }
}

.description_list {
    dt {
        font-weight: bold;
        float: left;
        width: 250px;
        text-align: right;
        padding-right: 10px;
    }
    dl {
        margin: 0px;
    }
}

.clear {
    clear: both;
}

.to_center {
    text-align: center;
}

.ready_button {
    background-color: @color_selected;
    padding: 10px 20px;
    width: 60px;
    display: inline;
    color: #FFF;
    font-size: 1.5em;
    border: 2px #222 solid;
    .drop_shadow();
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: @game_width / 2;
    margin-left: -50px;
    text-align: middle;

}

.startup_list {
    height: 500px;
    overflow: auto;
}

.list_entry {
    padding: 3px;
    border: 2px #222 solid;
    margin: 4px;
    .drop_shadow();
    cursor: pointer;
    h4 {
        padding: 2px;
        margin: 0px;
    }
}

.selected {
    background-color: @color_selected;
    color: #fff;
    .text_glow();
}

#startup_popup{
    width: 800px;
    height: 700px;
    margin-left: -400px;
    margin-top: -400px;

    h4 {
        margin: 5px;
    }

    h5 {
        margin: 5px;
    }

    h2 {
        margin-bottom: 5px;
    }

    ul {
        margin: 0px;
    }
}

.popup {
    background-color: #EEE;
    .drop_shadow(10px);
    position: absolute;
    width: 400px;
    height: 200px;
    top: @game_height / 2;
    left: @game_width / 2;
    margin-left: -200px;
    margin-top: -100px;
    padding: 10px;
    border: 1px black solid;
    z-index: 9001;

    .options_holder {
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 100%;

        .accept {
            background-color: @color_selected;
            display: inline;
            margin-right: 20px;
            padding: 10px;
            .drop_shadow();
            .text_glow();
            color: #fff;
            font-weight: bold;
            border: 1px black solid;
        }

        .deny {
            background-color: @color_highlight;
            display: inline;
            margin-right: 20px;
            padding: 10px;
            .drop_shadow();
            .text_glow();
            color: #fff;
            font-weight: bold;
            border: 1px black solid;
        }
    }
}

#greyout{
    width: @game_width;
    height: @game_height;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9000;
    background-color: #000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display: none;
}

h5{
    margin:5px;
}